<div class="container">
  <img class="jumbotron" src="https://cblproperty.blob.core.windows.net/production/assets/blt9c98a24c5aedb02e-good-burger.png">

  <main class="container">

  
  <div class="row">
    <div class="col">
      <h2 class="devoured"> Good Burger Menu</h2>
      <form class="create-form">

        <div class="form-group list">
          <label for="bu">Pick Your Good Burger</label><br>
          <input type="text" id="bu" name="name">
        

        <button type="submit">Order Up!</button>
        </div>
      </form>
    </div>
  </div>
   <img class="menu" src="https://i.pinimg.com/originals/b5/53/bd/b553bdeb40a3a4b0490876ca6290160d.png">

  <div class="row justify-content-md-center mt-5">
    <div class="col-md-5">
      <h2 id="orderedBur">Your Ordered Good Burger!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <br><br><br><br><br>
    <div class="col-md-4">
      <h2 id="ateUp">Your Devoured Burgers!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</main>

  <!--Footer-->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card footer">
        <div class="introfoot">
          <a href="https://brigil.github.io/Burger/" class="btn btn-primary mr-2" target="_blank">GitHub Repo</a>
          <a href="https://www.linkedin.com/in/brigittegil/" class="btn btn-primary" target="_blank">LinkedIn</a>
          <br>
          <br>
    
        </div>
      </div>
    </div>
</div>
